body {
  font-family: sans-serif;
}

img {
  width: 180px;
  height: 125px;
}

.input {
  display: block;
  margin: 40px auto;
  width: 50%;
  height: 40px;
  border: 2px solid grey;
  border-radius: 15px;
  padding: 20px;
  opacity: 0.7;
  outline: none;
}

.markup-country {
  display: block;
  font-size: 18px;
  margin: 0 auto;
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 20px;
  height: 350px;
  opacity: 0.6;
}

.country {
  display: flex;
  padding: 15px;
  background: white;
}

.country-flag {
  width: 180px;
  height: 180;
}
